/* INTER FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Inter', sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.feedback-container {
  background: #000;
  color: #fff;
  padding: 40px;
  width: 1250px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 90%;
}

@media (max-width: 1024px) {
  .feedback-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .feedback-container {
    padding: 24px;
    width: 100%;
  }
}

.feedback-header {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.feedback-header h1 {
  font-size: 6rem;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.feedback-header p {
  font-size: 1.5rem;
  color: #ccc;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.story-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ff005c;
  border-style: dashed;
  padding: 3px;
  box-sizing: border-box;
}

.story video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.username {
  color: #ccc;
  font-size: 1rem;
  margin-top: 8px;
}

.video-modal {
  position: fixed;
  right: 30px;
  bottom: 60px;
  width: 375px;
  height: 667px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.progress-bar-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 8px;
  background-color: #00000061;
  z-index: 1;
}

.progress-bar {
  height: 100%;
  background-color: white;
  width: 0%;
  transition: width 0.5s linear;
}

.modal-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-top: 14px;
  top: 0;
  z-index: 1;
}

.close {
  position: absolute;
  left: 10px;
  top: 12px;
  width: 42px;
  height: 42px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.video-title h1 {
  font-size: 14px;
  color: white;
}

.underline {
  position: absolute;
  top: 36px;
  height: 2px;
  width: 24px;
  background-color: white;
}

.video-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}

.share {
  position: absolute;
  font-size: 24px;
  right: 10px;
  top: 120px;
  width: 42px;
  height: 42px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.mute {
  position: absolute;
  font-size: 24px;
  right: 10px;
  bottom: 120px;
  width: 42px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.left-controls {
  position: absolute;
  right: 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#modal-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.play-pause {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

#modal-video:paused ~ .play-pause {
  display: block;
}

.video-description {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 12px;
}

.video-description .buy-button {
  background-color: black;
  font-size: 18px;
  width: 100%;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 8px 22px;
  cursor: pointer;
  z-index: 1;
}
